body{
    background-color: rgb(245, 218, 255);
}

.image {
    width: 10%; /* smaller than 90% of board */
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.button {
    background-color: rgb(228, 138, 255);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

flex-container {
    display: flex;
    border-style: solid;
    border-width: 5px;
    flex-direction: column;
}

.nav_bar {
    display: flex;
    border-width: 10px;
    background-color: rgb(228, 138, 255);
    flex-direction: row;
}

.footer-flex-container{
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(228, 138, 255);
    flex-direction: row;
}
.flex-item {
    border-width: 2px;
}